.container {
  width: 100vw;
  min-height: 100vh;
}

.mainWrapper {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  max-width: 1400px;
}

.header {
  top: 0;
  width: 100%;
  z-index: 22;
  height: 160px;
  position: fixed;
  padding: 0 100px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 20px 0px;
}

.headerContent {
  width: 100%;
  height: 160px;
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
}

.logoWrapper {
  display: flex;
  align-items: center;
  height: max-content;
}

.logoImage {
  width: 64px;
  height: 48px;
}

.companyName {
  font-size: 12px;
  color: #050582;
  font-weight: bold;
  text-transform: uppercase;
}

.frontSection {
  width: 100%;
  height: 70vh;
  margin-top: 160px;
  position: relative;
}

.frontImage {
  width: 100%;
  height: 70vh;
}

.frontTitle {
  top: 50%;
  width: 100%;
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  text-shadow: 4px 4px 2px rgba(94, 94, 94, 1);
}

.companyActivityTitle {
  font-size: 40px;
  color: #050582;
  text-align: center;
}

.activitiesWrapper {
  display: flex;
  justify-content: space-between;
}

.activityWrapper {
  width: 47%;
  margin-top: 50px;
  border-radius: 8px;
  height: max-content;
  border: 1px solid black;
}

.activityHeader {
  color: white;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: #008ae0;
  border-radius: 8px 8px 0 0;
}

.columnTitles {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid;
}

.servicesColumnTitle {
  padding: 10px;
}

.columnItem {
  width: 40%;
  padding: 10px;
  display: flex;
  font-weight: bold;
  align-items: center;
  border-right: 1px solid;
}

.servicesWrapper {
  width: 60%;
}

.footer {
  width: 100%;
  height: 160px;
  padding: 0 100px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 20px 0px;
}

.contacts {
  display: flex;
  align-items: center;
}

.sliderItem {
  padding: 0 20px;
}

.certificatesTitle {
  font-size: 40px;
  color: #050582;
  text-align: center;
  margin-bottom: 50px;
}

.contactPhone {
  padding: 5px;
  display: flex;
  color: #008adc;
  align-items: center;
}

.certificatesSection {
  margin-top: 50px;
}

@media (max-width: 1400px) {
  .mainWrapper {
    padding: 50px;
  }
}

@media (max-width: 993px) {
  .activitiesWrapper {
    flex-direction: column;
  }

  .activityWrapper {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .mainWrapper {
    padding: 30px;
  }

  .header {
    padding: 0 20px;
  }

  .footer {
    padding: 0 20px;
  }

  .frontTitle {
    font-size: 40px;
  }
}

@media (max-width: 580px) {

  .header {
    padding: 20px;
    position: static;
    height: max-content;
  }

  .frontSection {
    height: 50vh;
    margin-top: 0;
  }

  .frontImage {
    height: 50vh;
  }

  .footer {
    padding: 20px;
    height: max-content;
  }

  .headerContent {
    height: max-content;
    flex-direction: column;
  }

  .activityWrapper {
    margin-top: 20px;
  }

  .contacts {
    font-size: 11px;
    margin-top: 20px;
  }

  .companyName {
    font-size: 10px;
  }

  .logoImage {
    width: 44px;
    height: 28px;
  }

  .frontTitle {
    font-size: 25px;
  }

  .companyActivityTitle {
    font-size: 30px;
  }

  .certificatesTitle {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .activityHeader {
    font-size: 18px;
  }
}

